({:id :enforcer
  :name "Enforcer"}
 {:id :location
  :name "Location"}
 {:id :persona
  :name "Persona"}
 {:id :commerce
  :name "Commerce"}
 {:id :tactic
  :name "Tactic"}
 {:id :paragon
  :name "Paragon"}
 {:id :subterfuge
  :name "Subterfuge"}
 {:id :contraption
  :name "Contraption"}
 {:id :visionary
  :name "Visionary"}
 {:id :influence
  :name "Influence"}
 {:id :renegade
  :name "Renegade"})
