[
 {:card-id "abnus-orzo-tireless-investigator"
 :code "01001"
 :illustrator "Evan Simonet"
 :position 1
 :quantity 1
 :set-id "pre-release"}
 {:card-id "auntie-ruth-proprietor-of-the-hidden-tea-house"
 :code "01002"
 :illustrator "Robert Brantseg, Evan Simonet"
 :position 2
 :quantity 1
 :set-id "pre-release"}
 {:card-id "barbican-gate"
 :code "01003"
 :illustrator "Evan Simonet"
 :position 3
 :quantity 2
 :set-id "pre-release"}
 {:card-id "calling-in-favors"
 :code "01004"
 :illustrator "Evan Simonet"
 :position 4
 :quantity 2
 :set-id "pre-release"}
 {:card-id "canal-network"
 :code "01005"
 :illustrator "Evan Simonet"
 :position 5
 :quantity 2
 :set-id "pre-release"}
 {:card-id "capricious-informant"
 :code "01006"
 :illustrator "Robert Brantseg, Evan Simonet"
 :position 6
 :quantity 2
 :set-id "pre-release"}
 {:card-id "chairman-bo-pax-heir-to-pax-industries"
 :code "01007"
 :illustrator "Evan Simonet"
 :position 7
 :quantity 1
 :set-id "pre-release"}
 {:card-id "disagreeable-inspector"
 :code "01008"
 :illustrator "Evan Simonet"
 :position 8
 :quantity 2
 :set-id "pre-release"}
 {:card-id "doctor-twilight-dream-surgeon"
 :code "01009"
 :illustrator "Evan Simonet"
 :position 9
 :quantity 1
 :set-id "pre-release"}
 {:card-id "eye-enforcers"
 :code "01010"
 :illustrator "Evan Simonet"
 :position 10
 :quantity 2
 :set-id "pre-release"}
 {:card-id "fun-run"
 :code "01011"
 :illustrator "Evan Simonet"
 :position 11
 :quantity 2
 :set-id "pre-release"}
 {:card-id "gargala-larga-imperator-of-growth"
 :code "01012"
 :illustrator "Evan Simonet"
 :position 12
 :quantity 1
 :set-id "pre-release"}
 {:card-id "goldie-xin-junk-collector"
 :code "01013"
 :illustrator "Evan Simonet"
 :position 13
 :quantity 1
 :set-id "pre-release"}
 {:card-id "infiltrate"
 :code "01014"
 :illustrator "Evan Simonet"
 :position 14
 :quantity 2
 :set-id "pre-release"}
 {:card-id "jayko-ace-boisterous-troublemakers"
 :code "01015"
 :illustrator "Andrew Navaro, Evan Simonet"
 :position 15
 :quantity 1
 :set-id "pre-release"}
 {:card-id "kryzar-the-rat-navigator-of-the-cortex-maze"
 :code "01016"
 :illustrator "Joe Banner, Evan Simonet"
 :position 16
 :quantity 1
 :set-id "pre-release"}
 {:card-id "likely-a-trap"
 :code "01017"
 :illustrator "Joe Banner, Evan Simonet"
 :position 17
 :quantity 2
 :set-id "pre-release"}
 {:card-id "rory-bug-we-fetch-it-you-catch-it-"
 :code "01018"
 :illustrator "Joe Banner, Evan Simonet"
 :position 18
 :quantity 1
 :set-id "pre-release"}
 {:card-id "salvage-rats"
 :code "01019"
 :illustrator "Sonderflex"
 :position 19
 :quantity 2
 :set-id "pre-release"}
 {:card-id "sergeant-cole-precinct-rd-level"
 :code "01020"
 :illustrator "Evan Simonet"
 :position 20
 :quantity 1
 :set-id "pre-release"}
 {:card-id "shardwinner"
 :code "01021"
 :illustrator "Joe Banner, Evan Simonet"
 :position 21
 :quantity 2
 :set-id "pre-release"}
 {:card-id "smooth-handoff"
 :code "01022"
 :illustrator "Evan Simonet"
 :position 22
 :quantity 2
 :set-id "pre-release"}
 {:card-id "tele-mail-cluster"
 :code "01023"
 :illustrator "Evan Simonet"
 :position 23
 :quantity 2
 :set-id "pre-release"}
 {:card-id "the-dragon-s-hoard"
 :code "01024"
 :illustrator "Evan Simonet"
 :position 24
 :quantity 2
 :set-id "pre-release"}
 {:card-id "transit-station"
 :code "01025"
 :illustrator "Joe Banner, Evan Simonet"
 :position 25
 :quantity 2
 :set-id "pre-release"}
 {:card-id "waterway-ferry"
 :code "01026"
 :illustrator "Evan Simonet"
 :position 26
 :quantity 2
 :set-id "pre-release"}
 {:card-id "lost-byway"
 :code "01027"
 :illustrator "(unknown)"
 :position 27
 :quantity 2
 :set-id "pre-release"}
 {:card-id "prime-treasurer-geel-munificent-financier"
 :code "01028"
 :illustrator "(unknown)"
 :position 28
 :quantity 1
 :set-id "pre-release"}
 {:card-id "turn-up-the-heat"
 :code "01029"
 :illustrator "(unknown)"
 :position 29
 :quantity 2
 :set-id "pre-release"}
 {:card-id "cooling-off"
 :code "01030"
 :illustrator "(unknown)"
 :position 30
 :quantity 2
 :set-id "pre-release"}
 {:card-id "cornering-the-market"
 :code "01031"
 :illustrator "(unknown)"
 :position 31
 :quantity 2
 :set-id "pre-release"}
 {:card-id "franchise-fees"
 :code "01032"
 :illustrator "(unknown)"
 :position 32
 :quantity 2
 :set-id "pre-release"}
 {:card-id "silkline-shuttle"
 :code "01033"
 :illustrator "(unknown)"
 :position 33
 :quantity 2
 :set-id "pre-release"}
 {:card-id "ulin-marr-eccentric-architect"
 :code "01034"
 :illustrator "(unknown)"
 :position 34
 :quantity 1
 :set-id "pre-release"}
 {:card-id "big-varna-gorvis-friends-in-every-district"
 :code "01035"
 :illustrator "(unknown)"
 :position 35
 :quantity 1
 :set-id "pre-release"}
 {:card-id "boss-bresloo-the-deal-maker"
 :code "01036"
 :illustrator "(unknown)"
 :position 36
 :quantity 1
 :set-id "pre-release"}
 {:card-id "guildmaster-yanos-affable-gaffer"
 :code "01037"
 :illustrator "(unknown)"
 :position 37
 :quantity 1
 :set-id "pre-release"}
 {:card-id "-spider-rebbek-dragon-s-hoard-pitboss"
 :code "01038"
 :illustrator "(unknown)"
 :position 38
 :quantity 1
 :set-id "pre-release"}
 {:card-id "silent-interrogator"
 :code "01039"
 :illustrator "(unknown)"
 :position 39
 :quantity 2
 :set-id "pre-release"}
 {:card-id "asset-protection-hub"
 :code "01040"
 :illustrator "(unknown)"
 :position 40
 :quantity 2
 :set-id "pre-release"}
 {:card-id "flooding-thoroughfare"
 :code "01041"
 :illustrator "(unknown)"
 :position 41
 :quantity 2
 :set-id "pre-release"}
 {:card-id "tunnel-runners"
 :code "01042"
 :illustrator "(unknown)"
 :position 42
 :quantity 2
 :set-id "pre-release"}
 {:card-id "emperor-drejj"
 :code "01043"
 :illustrator "(unknown)"
 :position 43
 :quantity 2
 :set-id "pre-release"}
 {:card-id "oroba-plaza"
 :code "01044"
 :illustrator "(unknown)"
 :position 44
 :quantity 2
 :set-id "pre-release"}
 {:card-id "echopomp-revoker"
 :code "01045"
 :illustrator "(unknown)"
 :position 45
 :quantity 2
 :set-id "pre-release"}
 {:card-id "bubblemap-kiosk"
 :code "01046"
 :illustrator "(unknown)"
 :position 46
 :quantity 2
 :set-id "pre-release"}
 {:card-id "crispy-crawler"
 :code "01047"
 :illustrator "(unknown)"
 :position 47
 :quantity 2
 :set-id "pre-release"}
 {:card-id "pax-observatory"
 :code "01048"
 :illustrator "(unknown)"
 :position 48
 :quantity 2
 :set-id "pre-release"}
 {:card-id "waterfront-soakhouse"
 :code "01049"
 :illustrator "(unknown)"
 :position 49
 :quantity 2
 :set-id "pre-release"}
 {:card-id "wirecrawler"
 :code "01050"
 :illustrator "(unknown)"
 :position 50
 :quantity 2
 :set-id "pre-release"}
 {:card-id "twice-as-bad"
 :code "01051"
 :illustrator "(unknown)"
 :position 51
 :quantity 2
 :set-id "pre-release"}
 {:card-id "rapid-growth"
 :code "01052"
 :illustrator "(unknown)"
 :position 52
 :quantity 2
 :set-id "pre-release"}
 {:card-id "print-on-demand"
 :code "01053"
 :illustrator "(unknown)"
 :position 53
 :quantity 2
 :set-id "pre-release"}
 {:card-id "forced-liquidation"
 :code "01054"
 :illustrator "(unknown)"
 :position 54
 :quantity 2
 :set-id "pre-release"}
 {:card-id "threading-through"
 :code "01055"
 :illustrator "(unknown)"
 :position 55
 :quantity 2
 :set-id "pre-release"}
 {:card-id "coroner-goodman-slab-sleuth"
 :code "01056"
 :illustrator "(unknown)"
 :position 56
 :quantity 1
 :set-id "pre-release"}
 {:card-id "maestro-the-bebop-boffin"
 :code "01057"
 :illustrator "(unknown)"
 :position 57
 :quantity 1
 :set-id "pre-release"}
 {:card-id "vapor-x-holomancer-for-hire"
 :code "01058"
 :illustrator "(unknown)"
 :position 58
 :quantity 1
 :set-id "pre-release"}
 {:card-id "probabilities-exchange"
 :code "01059"
 :illustrator "(unknown)"
 :position 59
 :quantity 2
 :set-id "pre-release"}
 {:card-id "yowling-tezu"
 :code "01060"
 :illustrator "(unknown)"
 :position 60
 :quantity 2
 :set-id "pre-release"}
 {:card-id "cargo-inspector"
 :code "01061"
 :illustrator "(unknown)"
 :position 61
 :quantity 2
 :set-id "pre-release"}
 {:card-id "echofield-registry"
 :code "01062"
 :illustrator "(unknown)"
 :position 62
 :quantity 2
 :set-id "pre-release"}
 {:card-id "containment-funnel"
 :code "01063"
 :illustrator "(unknown)"
 :position 63
 :quantity 2
 :set-id "pre-release"}
 {:card-id "cargo-manifest"
 :code "01064"
 :illustrator "(unknown)"
 :position 64
 :quantity 2
 :set-id "pre-release"}
 {:card-id "job-board"
 :code "01065"
 :illustrator "(unknown)"
 :position 65
 :quantity 2
 :set-id "pre-release"}
 {:card-id "wall-wizard"
 :code "01066"
 :illustrator "(unknown)"
 :position 66
 :quantity 2
 :set-id "pre-release"}
 {:card-id "marauder-s-market"
 :code "01067"
 :illustrator "(unknown)"
 :position 67
 :quantity 2
 :set-id "pre-release"}
 {:card-id "daring-aeroboarder"
 :code "01068"
 :illustrator "(unknown)"
 :position 68
 :quantity 2
 :set-id "pre-release"}
 {:card-id "trading-secrets"
 :code "01069"
 :illustrator "(unknown)"
 :position 69
 :quantity 2
 :set-id "pre-release"}
 {:card-id "paper-trail"
 :code "01070"
 :illustrator "(unknown)"
 :position 70
 :quantity 2
 :set-id "pre-release"}
 {:card-id "propaganda"
 :code "01071"
 :illustrator "(unknown)"
 :position 71
 :quantity 2
 :set-id "pre-release"}
 {:card-id "protecting-our-investment"
 :code "01072"
 :illustrator "(unknown)"
 :position 72
 :quantity 2
 :set-id "pre-release"}
 {:card-id "recalibrate"
 :code "01073"
 :illustrator "(unknown)"
 :position 73
 :quantity 2
 :set-id "pre-release"}
 {:card-id "tenacity"
 :code "01074"
 :illustrator "(unknown)"
 :position 74
 :quantity 2
 :set-id "pre-release"}
 {:card-id "dodge"
 :code "01075"
 :illustrator "(unknown)"
 :position 75
 :quantity 2
 :set-id "pre-release"}
 {:card-id "knot-today"
 :code "01076"
 :illustrator "(unknown)"
 :position 76
 :quantity 2
 :set-id "pre-release"}
 {:card-id "counselor-vreenax-planetary-exchequer"
 :code "01077"
 :illustrator "(unknown)"
 :position 77
 :quantity 1
 :set-id "pre-release"}
 {:card-id "renovator-warlan-redev-mogul"
 :code "01078"
 :illustrator "(unknown)"
 :position 78
 :quantity 1
 :set-id "pre-release"}
 {:card-id "recruiter-nilero-effusive-inducer"
 :code "01079"
 :illustrator "(unknown)"
 :position 79
 :quantity 1
 :set-id "pre-release"}]
