{:barrier 3
 :collection-icons :shard
 :faction :omniworks
 :id "auntie-ruth"
 :presence 2
 :shard-cost 4
 :stripped-text "Cipher – Engaged player loses (Action). 
(Reaction) After this card is forged, choose a player: They draw 3 cards."
 :stripped-title "Auntie Ruth"
 :subtitle "Proprietor of the Hidden Tea House"
 :text "Cipher – Engaged player loses <strong>(Action)</strong>.<br/> <hr class="border-black opacity-20 my-1"/>
<strong>(Reaction) After this card is forged, choose a player:</strong> They draw 3 cards."
 :title "Auntie Ruth"
 :subtypes [:paragon]
 :type :agent
 :uniqueness true}
