{:deck-limit 2
 :alias "Barbican Gate"
 :barrier 1
 :faction :the-collective
 :id "barbican-gate"
 :influence-cost 1
 :presence 4
 :shard-cost 1
 :stripped-text "[Confront]: Engaged player may exhaust a forged card in their grid. If they do not, gain 2 [Credit]. 
[Discover]: Gain 1 [Credit]."
 :stripped-title "Barbican Gate"
 :subtitle ""
 :text "<strong>[Confront]:</strong> Engaged player may exhaust a forged card in their grid. If they do not, gain 2 [Credit].<br/> <hr class=\"border-black opacity-20 my-1\"/>
<strong>[Discover]:</strong> Gain 1 [Credit]."
 :title "Barbican Gate"
 :subtypes [:location]
 :type :obstacle
 :uniqueness nil}
