{:deck-limit 2
 :alias "Calling in Favors"
 :faction :omniworks
 :id "calling-in-favors"
 :shard-cost 0
 :stripped-text "[Click][Click]: Gain 4 [Credit] and draw 1 card."
 :stripped-title "Calling in Favors"
 :subtitle ""
 :text "<strong>[Click][Click]:</strong> Gain 4 [Credit] and draw 1 card."
 :title "Calling in Favors"
 :subtypes [:commerce :influence]
 :type :moment
 :uniqueness nil}
