{:alias "Capricious Informant"
 :collection-icons :shard
 :faction :the-collective
 :id "capricious-informant"
 :presence 4
 :shard-cost 3
 :stripped-text "(Instant) Exhaust this card and look at the top 2 cards of your Commons: Add 1 of those to your Council and archive the other."
 :stripped-title "Capricious Informant"
 :subtitle ""
 :text "<strong>(Instant) Exhaust this card and look at the top 2 cards of your Commons:</strong> Add 1 of those to your Council and archive the other."
 :title "Capricious Informant"
 :subtypes [:persona]
 :type :source
 :uniqueness nil}
