{:deck-limit 2
 :alias "Disagreeable Inspector"
 :collection-icons :shard
 :faction :old-aidalon
 :id "disagreeable-inspector"
 :influence-cost 1
 :presence 2
 :shard-cost 1
 :stripped-text "[Reaction] As you confront a card, exhaust this card: That card gets -2 Barrier until the confrontation ends."
 :stripped-title "Disagreeable Inspector"
 :subtitle ""
 :text "<strong>[Reaction] As you confront a card, exhaust this card:</strong> That card gets -2 Barrier until the confrontation ends."
 :title "Disagreeable Inspector"
 :subtypes [:persona]
 :type :source
 :uniqueness nil}
