{:deck-limit 2
 :alias "Flooding Thoroughfare"
 :barrier 1
 :faction :omniworks
 :id "flooding-thoroughfare"
 :presence 3
 :shard-cost 1
 :stripped-text "[Reaction] After this card is forged during a delve: This card gets +2 Barrier until the delve ends."
 :stripped-title "Flooding Thoroughfare"
 :subtitle ""
 :text "<strong>[Reaction] After this card is forged during a delve:</strong> This card gets +2 Barrier until the delve ends."
 :title "Flooding Thoroughfare"
 :subtypes [:location]
 :type :obstacle
 :uniqueness nil}
