{:deck-limit 2
 :alias "Fun Run"
 :faction :the-remnants
 :id "fun-run"
 :influence-cost 2
 :shard-cost 0
 :stripped-text "[Reaction] After you complete a breach on a Commons: Gain 3 [Credit]."
 :stripped-title "Fun Run"
 :subtitle ""
 :text "<strong>[Reaction] After you complete a breach on a Commons:</strong> Gain 3 [Credit]."
 :title "Fun Run"
 :subtypes [:subterfuge :tactic]
 :type :moment
 :uniqueness nil}
