{:alias "Gargala Larga"
 :barrier 4
 :collection-icons :shard
 :faction :old-aidalon
 :id "gargala-larga-imperator-of-growth"
 :presence 1
 :shard-cost 3
 :stripped-text "[Instant] Exhaust this card: Unexhaust your seeker."
 :stripped-title "Gargala Larga: Imperator of Growth"
 :subtitle "Imperator of Growth"
 :text "<strong>[Instant] Exhaust this card:</strong> Unexhaust your seeker."
 :title "Gargala Larga: Imperator of Growth"
 :subtypes [:enforcer]
 :type :agent
 :uniqueness true}
