{:alias "Infiltrate"
 :faction :omniworks
 :id "infiltrate"
 :illustrator ["Evan Simonet"]
 :shard-cost 1
 :stripped-text "(Reaction) As you discover cards in a Council during a breach: Discover +2 cards."
 :stripped-title "Infiltrate"
 :subtitle ""
 :text "<strong>(Reaction) As you discover cards in a Council during a breach:</strong> Discover +2 cards."
 :title "Infiltrate"
 :subtypes [:subterfuge :tactic]
 :type :moment
 :uniqueness nil}
