{:deck-limit 1
 :alias "Kryzar the Rat"
 :barrier 4
 :collection-icons :draw
 :faction :the-remnants
 :id "kryzar-the-rat-navigator-of-the-cortex-maze"
 :influence-cost 0
 :presence 2
 :shard-cost 5
 :stripped-text "Rush. (As an instant, pay this card’s shard cost to stage it forged.) 
[Instant] During your delve, exhaust this card and archive 1 card from your Council: Redirect your delve to approach a grid slot adjacent to your current position."
 :stripped-title "Kryzar the Rat: Navigator of the Cortex Maze"
 :subtitle "Navigator of the Cortex Maze"
 :text "Rush. <em>(As an instant, pay this card’s shard cost to stage it forged.)</em><br/> <hr class=\"border-black opacity-20 my-1\"/>
<strong>[Instant] During your delve, exhaust this card and archive 1 card from your Council:</strong> Redirect your delve to approach a grid slot adjacent to your current position."
 :title "Kryzar the Rat: Navigator of the Cortex Maze"
 :subtypes [:enforcer]
 :type :agent
 :uniqueness true}
