{:alias "Prime Treasurer Geel"
 :barrier 4
 :collection-icons :shard
 :faction :old-aidalon
 :id "prime-treasurer-geel-munificent-financier"
 :presence 2
 :shard-cost 3
 :stripped-text "While this card is forged: Each other agent and obstacle in your grid gets +1 Barrier. 
[Discover] If this card is in your grid: Gain 4 [Credit]."
 :stripped-title "Prime Treasurer Geel: Munificent Financier"
 :subtitle "Munificent Financier"
 :text "<strong>While this card is forged:</strong> Each other agent and obstacle in your grid gets +1 Barrier.<br/> <hr class=\"border-black opacity-20 my-1\"/>
<strong>[Discover] If this card is in your grid:</strong> Gain 4 [Credit]."
 :title "Prime Treasurer Geel: Munificent Financier"
 :subtypes [:paragon]
 :type :agent
 :uniqueness true}
