{:alias "Sergeant Cole"
 :barrier 3
 :collection-icons :shard
 :faction :the-collective
 :id "sergeant-cole-precinct-rd-level"
 :presence 1
 :shard-cost 1
 :stripped-text "[Reaction] After you complete a breach on a player’s Archives, exhaust this card: Archive the top 2 cards of their Commons."
 :stripped-title "Sergeant Cole: Precinct 204, 3rd Level"
 :subtitle "Precinct 204, 3rd Level"
 :text "<strong>[Reaction] After you complete a breach on a player’s Archives, exhaust this card:</strong> Archive the top 2 cards of their Commons."
 :title "Sergeant Cole: Precinct 204, 3rd Level"
 :subtypes [:renegade]
 :type :agent
 :uniqueness true}
