{:barrier 3
 :collection-icons :shard
 :faction :the-collective
 :id "sergeant-cole"
 :presence 1
 :shard-cost 1
 :stripped-text "Cipher – Engaged player exhausts a card in their Archives path. 
(Reaction) After you complete a breach on a player’s Archives, exhaust this card: Archive the top 2 cards of their Commons."
 :stripped-title "Sergeant Cole"
 :subtitle "Precinct 204, 3rd Level"
 :text "Cipher – Engaged player exhausts a card in their Archives path.<br/> <hr class="border-black opacity-20 my-1"/>
<strong>(Reaction) After you complete a breach on a player’s Archives, exhaust this card:</strong> Archive the top 2 cards of their Commons."
 :title "Sergeant Cole"
 :subtypes [:paragon]
 :type :agent
 :uniqueness true}
