{:deck-limit 2
 :alias "Silent Interrogator"
 :barrier 0
 :faction :the-collective
 :id "silent-interrogator"
 :influence-cost 1
 :presence 4
 :shard-cost 0
 :stripped-text "[Discover] If this card is in your grid: Archive the bottom 4 cards of engaging player’s Commons."
 :stripped-title "Silent Interrogator"
 :subtitle ""
 :text "<strong>[Discover] If this card is in your grid:</strong> Archive the bottom 4 cards of engaging player’s Commons."
 :title "Silent Interrogator"
 :subtypes [:contraption]
 :type :obstacle
 :uniqueness nil}
