{:faction :omniworks
 :id "smooth-handoff"
 :shard-cost 0
 :stripped-text "(Action) Choose a player: They lose 1 Heat and draw 1 card."
 :stripped-title "Smooth Handoff"
 :text "<strong>(Action) Choose a player:</strong> They lose 1 Heat and draw 1 card."
 :title "Smooth Handoff"
 :subtypes [:subterfuge]
 :type :moment
 :uniqueness nil}
