{:deck-limit 2
 :alias "Trading Secrets"
 :faction :the-collective
 :id "trading-secrets"
 :influence-cost 4
 :shard-cost 0
 :stripped-text "[Instant] Archive the top 2 cards of your Commons: Gain 2 [Credit]."
 :stripped-title "Trading Secrets"
 :subtitle ""
 :text "<strong>[Instant] Archive the top 2 cards of your Commons:</strong> Gain 2 [Credit]."
 :title "Trading Secrets"
 :subtypes [:subterfuge]
 :type :moment
 :uniqueness nil}
